{
.appVersion = "3436";
.formatVersion = 3;
customParameters = (
{
name = vendorID;
value = ofdn;
},
{
name = panose;
value = (
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
);
},
{
name = unicodeRanges;
value = (
0,
1,
5,
15,
19,
31,
35,
38,
45
);
},
{
name = fsType;
value = (
);
},
{
name = glyphOrder;
value = (
.notdef,
.null,
CR,
space,
"danda-deva",
"dbldanda-deva",
"candrabindu-orya",
"anusvara-orya",
"visarga-orya",
"a-orya",
"aa-orya",
"i-orya",
"ii-orya",
"u-orya",
"uu-orya",
"vocalicr-orya",
"vocalicl-orya",
"e-orya",
"ai-orya",
"o-orya",
"au-orya",
"ka-orya",
"kha-orya",
"ga-orya",
"gha-orya",
"nga-orya",
"ca-orya",
"cha-orya",
"ja-orya",
"jha-orya",
"nya-orya",
"tta-orya",
"ttha-orya",
"dda-orya",
"ddha-orya",
"nna-orya",
"ta-orya",
"tha-orya",
"da-orya",
"dha-orya",
"na-orya",
"pa-orya",
"pha-orya",
"ba-orya",
"bha-orya",
"ma-orya",
"ma-orya.alt",
"ya-orya",
"ra-orya",
"la-orya",
"lla-orya",
"va-orya",
"sha-orya",
"ssa-orya",
"sa-orya",
"ha-orya",
"nukta-orya",
"avagraha-orya",
"aasign-orya",
"isign-orya",
"iisign-orya",
"usign-orya",
"uusign-orya",
"vocalicrsign-orya",
"vocalicrrsign-orya",
"esign-orya",
"aisign-orya",
"osign-orya",
"ausign-orya",
"virama-orya",
"overline-orya",
"partialaisign-orya",
"partialausign-orya",
"rra-orya",
"rha-orya",
"yya-orya",
"vocalicrr-orya",
"vocalicll-orya",
"vocaliclsign-orya",
"vocalicllsign-orya",
"zero-orya",
"one-orya",
"two-orya",
"three-orya",
"four-orya",
"five-orya",
"six-orya",
"seven-orya",
"eight-orya",
"nine-orya",
"isshar-orya",
"wa-orya",
"onequarter-orya",
"onehalf-orya",
"threequarters-orya",
"onesixteenth-orya",
"oneeighth-orya",
"threesixteenths-orya",
zerowidthnonjoiner,
zerowidthjoiner,
dottedCircle,
"kKa-orya",
"kTta-orya",
"kTa-orya",
"kSsa-orya",
"ngKa-orya",
"ngKha-orya",
"ngGa-orya",
"ngGha-orya",
"cCa-orya",
"cCha-orya",
"jJa-orya",
"jNya-orya",
"nyCa-orya",
"nyCha-orya",
"nyJa-orya",
"nyJha-orya",
"ttTta-orya",
"nnTta-orya",
"nnTtha-orya",
"nnDda-orya",
"nnDdha-orya",
"nnNna-orya",
"tKa-orya",
"tTa-orya",
"tNa-orya",
"tPa-orya",
"tMa-orya",
"tSa-orya",
"tYya-orya",
"tBa-orya",
"dDa-orya",
"dDha-orya",
"dBha-orya",
"dBa-orya",
"dhYya-orya",
"nTa-orya",
"nTRa-orya",
"nTha-orya",
"nDa-orya",
"nDI-orya",
"nDha-orya",
"nDhI-orya",
"nNa-orya",
"nMa-orya",
"pTa-orya",
"ba_anusvara-orya",
"bDa-orya",
"bBa-orya",
"mPa-orya",
"mPha-orya",
"mBa-orya",
"mBha-orya",
"mMa-orya",
"llPa-orya",
"shCa-orya",
"shCha-orya",
"ssKa-orya",
"ssTta-orya",
"ssTtha-orya",
"ssNna-orya",
"ssPa-orya",
"ssPha-orya",
"sKa-orya",
"sKha-orya",
"sTa-orya",
"sTRa-orya",
"sTha-orya",
"sPa-orya",
"sPha-orya",
"hNa-orya",
"hMa-orya",
"hLa-orya",
"hBa-orya",
"lYya-orya",
"lLa-orya",
"kRa-orya",
"tRa-orya",
"dRa-orya",
"bRa-orya",
"shRIi-orya",
"cAa-orya",
"chAa-orya",
"bhAa-orya",
"rAa-orya",
"lAa-orya",
"jNyAa-orya",
"tTAa-orya",
"kI-orya",
"cI-orya",
"chI-orya",
"jI-orya",
"ddI-orya",
"rrI-orya",
"tI-orya",
"dI-orya",
"nI-orya",
"bI-orya",
"bhI-orya",
"rI-orya",
"llI-orya",
"hI-orya",
"lI-orya",
"kTI-orya",
"nTI-orya",
"thI-orya",
"dhI-orya",
"nyCI-orya",
"kIi-orya",
"chIi-orya",
"jIi-orya",
"tIi-orya",
"dIi-orya",
"nIi-orya",
"bIi-orya",
"rIi-orya",
"hIi-orya",
"bhIi-orya",
"lIi-orya",
"kU-orya",
"tU-orya",
"nU-orya",
"bU-orya",
"bhU-orya",
"hU-orya",
"kVocalicr-orya",
"tVocalicr-orya",
"dVocalicr-orya",
"bVocalicr-orya",
"bhVocalicr-orya",
"isignbelow-orya",
"kasign-orya",
"khasign-orya",
"gasign-orya",
"ghasign-orya",
"ngasign-orya",
"casign-orya",
"chasign-orya",
"jasign-orya",
"jhasign-orya",
"ttasign-orya",
"tthasign-orya",
"ddasign-orya",
"ddhasign-orya",
"nnasign-orya",
"tasign-orya",
"thasign-orya.alt",
"thasign-orya",
"dasign-orya",
"dhasign-orya",
"nasign-orya",
"pasign-orya",
"phasign-orya",
"basign-orya.alt",
"bhasign-orya",
"bhasign-orya.alt",
"masign-orya",
"masign-orya.alt",
"yasign-orya",
"repha-orya",
"rasign-orya",
"lasign-orya",
"llasign-orya",
"basign-orya",
"shasign-orya",
"ssasign-orya",
"sasign-orya",
"hasign-orya",
"tRasign-orya",
"yyasign-orya",
"ttTta-orya.alt",
"dhYya-orya.alt",
"LlI-orya.alt",
"LI-orya.alt",
"NIi-orya.alt",
"BIi-orya.alt",
"usign-orya.wide",
"usign-orya.alt",
"uusign-orya.wide",
"uusign-orya.alt",
"repha-orya.alt",
"usign-orya.alt2",
"ba_repha-orya",
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
comma,
period,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
hyphen,
slash,
colon,
semicolon,
less,
greater,
equal,
question,
at,
bracketleft,
bracketright,
backslash,
asciicircum,
underscore,
braceleft,
braceright,
bar,
asciitilde,
acute,
dieresis,
grave,
circumflex,
tilde,
cedilla,
macron,
breve,
dotaccent,
ring,
hungarumlaut,
caron,
ogonek,
questiondown,
exclamdown,
perthousand,
ellipsis,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
section,
plusminus,
quotesinglbase,
quotedblbase,
periodcentered,
degree,
registered,
copyright,
trademark,
endash,
emdash,
divide,
lessequal,
greaterequal,
A,
"khRIi-orya",
"pU-orya",
"kSsIi-orya",
"yyU-orya",
"iisign_repha-orya",
"tKVocalicr-orya",
"kSsI-orya",
"ssTtRa-orya",
"ssTtRU-orya",
_corner.circle,
_corner.smallCircle,
_corner.square,
_corner.tailLeft,
_corner.inkSquareAngle,
_corner.left,
_corner.tailBottom,
_corner.tailRight,
"_or.ja-ya-curve",
"_or.la-puda",
"_or.tta-o-wa",
"_or_ai-au",
"bYya-orya",
"dDa_repha-orya",
"dDha_repha-orya",
"nnNna_repha-orya",
"shRa-orya",
"tSNa-orya",
test,
_or.CircleShape,
"ai-orya.init",
"kSsa-orya.init",
"pRa-orya",
_basicMunduli,
_kern,
_or_Tta_kaar,
_or_a_aa,
_or_ai_au_kaar,
_or_ai_kaar,
_or_dda_Handi,
_or_e,
_or_e_kaar,
_or_gha,
_or_ha_tick,
_or_halant_virama,
_or_i_kaar_loop,
_or_nna,
_or_o,
_or_sha,
_or_t_ma,
_or_ta_phala,
_or_tha,
_or_uu_kaar,
_or_wa,
_comp.tail,
_or.2,
_or.GaiChanda,
_or.LanjaGol,
_or.angleBa,
_or.candrabindu,
_or.conso_ii_kaar,
_or.ekaar,
_or.ikaar,
_or.inktrap,
_or.ja_dhama,
_or.kha,
_or.roundEnd,
_or.ta_phala,
_or.u_kaar,
_or.vertHoriGuides
);
},
{
name = "Write DisplayStrings";
value = 0;
},
{
name = "Don't use Production Names";
value = 0;
}
);
date = "2022-10-25 05:42:15 +0000";
familyName = Chapakala19;
featurePrefixes = (
{
code = "languagesystem DFLT dflt;
languagesystem ory2 dflt;
";
name = Languagesystems;
}
);
features = (
{
code = "# Relevant glyph order at this point:
#
# - <base>
# - nukta
# - ikaar/ailengthmk
# - candrabindu
# - halant
# - <base>

lookupflag UseMarkFilteringSet [nukta-orya virama-orya]; # Ignore ikaar, ailengthmk, candrabindu

sub dda-orya nukta-orya by rra-orya;
sub ddha-orya nukta-orya by rha-orya;

sub ka-orya virama-orya ssa-orya by kSsa-orya;
sub ja-orya virama-orya nya-orya by jNya-orya;
";
tag = akhn;
},
{
code = "sub ra-orya virama-orya by repha-orya;
";
tag = rphf;
},
{
code = "sub virama-orya ka-orya by kasign-orya;
sub virama-orya kha-orya by khasign-orya;
sub virama-orya ga-orya by gasign-orya;
sub virama-orya gha-orya by ghasign-orya;
sub virama-orya nga-orya by ngasign-orya;
sub virama-orya ca-orya by casign-orya;
sub virama-orya cha-orya by chasign-orya;
sub virama-orya ja-orya by jasign-orya;
sub virama-orya jha-orya by jhasign-orya;
sub virama-orya tta-orya by ttasign-orya;
sub virama-orya ttha-orya by tthasign-orya;
sub virama-orya dda-orya by ddasign-orya;
sub virama-orya ddha-orya by ddhasign-orya;
sub virama-orya nna-orya by nnasign-orya;
sub virama-orya ta-orya by tasign-orya;
sub virama-orya tha-orya by thasign-orya.alt;
sub virama-orya da-orya by dasign-orya;
sub virama-orya dha-orya by dhasign-orya;
sub virama-orya na-orya by nasign-orya;
sub virama-orya pa-orya by pasign-orya;
sub virama-orya pha-orya by phasign-orya;
sub virama-orya bha-orya by bhasign-orya;
sub virama-orya ma-orya by masign-orya;
sub virama-orya ra-orya by rasign-orya;
sub virama-orya lla-orya by llasign-orya;
sub virama-orya la-orya by lasign-orya;
sub virama-orya [ba-orya va-orya wa-orya] by basign-orya; # Neutralized
sub virama-orya sha-orya by shasign-orya;
sub virama-orya ssa-orya by ssasign-orya;
sub virama-orya sa-orya by sasign-orya;
sub virama-orya ha-orya by hasign-orya;
";
tag = blwf;
},
{
code = "    sub virama-orya [ya-orya yya-orya] by yyasign-orya; # Neutralized
";
tag = pstf;
},
{
code = "# Relevant glyph order at this point:
#
# - <base>
# - nukta
# - ikaar/ailengthmk
# - reph
# - candrabindu
# - <below-base phalaa>
# - ukaar/...
# - <post-base phalaa>

lookupflag UseMarkFilteringSet [nukta-orya]; # Ignore ikaar, ailengthmk, reph, candrabindu, ukaar, ...

sub ka-orya kasign-orya by kKa-orya;
sub ka-orya ttasign-orya by kTta-orya;
sub ka-orya tasign-orya by kTa-orya;
sub ka-orya rasign-orya by kRa-orya;

sub nga-orya kasign-orya by ngKa-orya;
sub nga-orya khasign-orya by ngKha-orya;
sub nga-orya gasign-orya by ngGa-orya;
sub nga-orya ghasign-orya by ngGha-orya;

sub ca-orya casign-orya by cCa-orya;
sub ca-orya chasign-orya by cCha-orya;

sub ja-orya jasign-orya by jJa-orya;

sub nya-orya casign-orya by nyCa-orya;
sub nya-orya chasign-orya by nyCha-orya;
sub nya-orya jasign-orya by nyJa-orya;
sub nya-orya jhasign-orya by nyJha-orya;

sub tta-orya ttasign-orya by ttTta-orya;

sub nna-orya ttasign-orya by nnTta-orya;
sub nna-orya tthasign-orya by nnTtha-orya;
sub nna-orya ddasign-orya by nnDda-orya;
sub nna-orya ddhasign-orya by nnDdha-orya;
sub nna-orya nnasign-orya by nnNna-orya;

sub ta-orya kasign-orya by tKa-orya;
sub ta-orya tasign-orya by tTa-orya;
sub ta-orya nasign-orya by tNa-orya;
sub ta-orya pasign-orya by tPa-orya;
sub ta-orya masign-orya by tMa-orya;
sub ta-orya yyasign-orya by tYya-orya;
sub ta-orya rasign-orya by tRa-orya;
sub ta-orya basign-orya by tBa-orya;
sub ta-orya sasign-orya by tSa-orya;
sub ta-orya sasign-orya nasign-orya by tSNa-orya;

sub da-orya dasign-orya by dDa-orya;
sub da-orya dhasign-orya by dDha-orya;
sub da-orya bhasign-orya by dBha-orya;
sub da-orya rasign-orya by dRa-orya;
sub da-orya basign-orya by dBa-orya;

sub dha-orya yyasign-orya by dhYya-orya;

sub na-orya tasign-orya by nTa-orya;
sub na-orya tasign-orya rasign-orya by nTRa-orya;
sub na-orya thasign-orya.alt by nTha-orya;
sub na-orya dasign-orya by nDa-orya;
sub na-orya dhasign-orya by nDha-orya;
sub na-orya nasign-orya by nNa-orya;
sub na-orya masign-orya by nMa-orya;

sub pa-orya tasign-orya by pTa-orya;

sub ba-orya dasign-orya by bDa-orya;
sub ba-orya yyasign-orya by bYya-orya;
sub ba-orya rasign-orya by bRa-orya;
sub ba-orya basign-orya by bBa-orya;

sub ma-orya pasign-orya by mPa-orya;
sub ma-orya phasign-orya by mPha-orya;
sub ma-orya bhasign-orya by mBha-orya;
sub ma-orya masign-orya by mMa-orya;
sub ma-orya basign-orya by mBa-orya;

sub lla-orya pasign-orya by llPa-orya;

sub la-orya yyasign-orya by lYya-orya;
sub la-orya lasign-orya by lLa-orya;

sub sha-orya casign-orya by shCa-orya;
sub sha-orya chasign-orya by shCha-orya;

sub ssa-orya kasign-orya by ssKa-orya;
sub ssa-orya ttasign-orya by ssTta-orya;
sub ssa-orya ttasign-orya rasign-orya by ssTtRa-orya;
sub ssa-orya tthasign-orya by ssTtha-orya;
sub ssa-orya nnasign-orya by ssNna-orya;
sub ssa-orya pasign-orya by ssPa-orya;
sub ssa-orya phasign-orya by ssPha-orya;

sub sa-orya kasign-orya by sKa-orya;
sub sa-orya khasign-orya by sKha-orya;
sub sa-orya tasign-orya by sTa-orya;
sub sa-orya tasign-orya rasign-orya by sTRa-orya;
sub sa-orya thasign-orya.alt by sTha-orya;
sub sa-orya pasign-orya by sPa-orya;
sub sa-orya phasign-orya by sPha-orya;

sub ha-orya nasign-orya by hNa-orya;
sub ha-orya masign-orya by hMa-orya;
sub ha-orya lasign-orya by hLa-orya;
sub ha-orya basign-orya by hBa-orya;
";
tag = pres;
},
{
code = "# Relevant glyph order at this point:
#
# - <base>
# - nukta
# - ikaar/ailengthmk
# - reph
# - candrabindu
# - <below-base phalaa>
# - ukaar/...
# - <post-base phalaa>
# - aakaar/...
# - anusvara

sub ka-orya isign-orya by kI-orya;
sub ka-orya iisign-orya by kIi-orya;
sub ka-orya usign-orya by kU-orya;
sub ka-orya vocalicrsign-orya by kVocalicr-orya;

sub kha-orya rasign-orya iisign-orya by khRIi-orya; # kh_ra not available

sub ca-orya aasign-orya by cAa-orya;
sub ca-orya isign-orya by cI-orya;

sub cha-orya aasign-orya by chAa-orya;
sub cha-orya isign-orya by chI-orya;
sub cha-orya iisign-orya by chIi-orya;

sub ja-orya isign-orya by jI-orya;
sub ja-orya iisign-orya by jIi-orya;

sub dda-orya isign-orya by ddI-orya;

sub ta-orya isign-orya by tI-orya;
sub ta-orya iisign-orya by tIi-orya;
sub ta-orya usign-orya by tU-orya;
sub ta-orya vocalicrsign-orya by tVocalicr-orya;

sub tha-orya isign-orya by thI-orya;

sub da-orya isign-orya by dI-orya;
sub da-orya iisign-orya by dIi-orya;
sub da-orya vocalicrsign-orya by dVocalicr-orya;

sub dha-orya isign-orya by dhI-orya;

sub na-orya isign-orya by nI-orya;
sub na-orya iisign-orya by nIi-orya;
sub na-orya usign-orya by nU-orya;

sub pa-orya usign-orya by pU-orya;

sub ba-orya isign-orya by bI-orya;
sub ba-orya iisign-orya by bIi-orya;
sub ba-orya usign-orya by bU-orya;
sub ba-orya vocalicrsign-orya by bVocalicr-orya;
sub ba-orya anusvara-orya by ba_anusvara-orya;

sub bha-orya aasign-orya by bhAa-orya;
sub bha-orya isign-orya by bhI-orya;
sub bha-orya iisign-orya by bhIi-orya;
sub bha-orya usign-orya by bhU-orya;
sub bha-orya vocalicrsign-orya by bhVocalicr-orya;

sub yya-orya usign-orya by yyU-orya;

sub ra-orya aasign-orya by rAa-orya;
sub ra-orya isign-orya by rI-orya;
sub ra-orya iisign-orya by rIi-orya;

sub lla-orya isign-orya by llI-orya;

sub la-orya aasign-orya by lAa-orya;
sub la-orya isign-orya by lI-orya;
sub la-orya iisign-orya by lIi-orya;

sub sha-orya rasign-orya iisign-orya by shRIi-orya; # sh_ra not available

sub ha-orya isign-orya by hI-orya;
sub ha-orya iisign-orya by hIi-orya;
sub ha-orya usign-orya by hU-orya;

# Bases formed in akhn:

sub rra-orya isign-orya by rrI-orya;

sub kSsa-orya isign-orya by kSsI-orya;
sub kSsa-orya iisign-orya by kSsIi-orya;
sub jNya-orya aasign-orya by jNyAa-orya;

# Bases formed in pres:

sub kTa-orya isign-orya by kTI-orya;
sub nyCa-orya isign-orya by nyCI-orya;
sub nnNna-orya repha-orya by nnNna_repha-orya;
sub tKa-orya vocalicrsign-orya by tKVocalicr-orya;
sub tTa-orya aasign-orya by tTAa-orya;
sub dDa-orya repha-orya by dDa_repha-orya;
sub dDha-orya repha-orya by dDha_repha-orya;
sub nTa-orya isign-orya by nTI-orya;
sub nDa-orya isign-orya by nDI-orya;
sub nDha-orya isign-orya by nDhI-orya;
sub ssTtRa-orya usign-orya by ssTtRU-orya;
";
tag = pres;
},
{
code = "sub ta-orya thasign-orya.alt' by thasign-orya;
sub [yya-orya ra-orya] usign-orya' by usign-orya.wide;
sub lla-orya usign-orya' by usign-orya.alt;
";
tag = pres;
},
{
code = "sub space ai-orya' by ai-orya.init;
sub space kSsa-orya' by kSsa-orya.init;
";
tag = calt;
}
);
fontMaster = (
{
customParameters = (
{
name = typoAscender;
value = 830;
},
{
name = typoDescender;
value = -493;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1258;
},
{
name = winDescent;
value = 524;
},
{
name = hheaAscender;
value = 835;
},
{
name = hheaDescender;
value = -487;
},
{
name = strikeoutPosition;
value = 314;
},
{
name = strikeoutSize;
value = 52;
},
{
name = "prep Table Assembly";
value = "PUSHW[ ]	/* 1 value pushed */
0
CALL[ ]	/* CallFunction */
SVTCA[0]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 3 values pushed */
1 3 2
CALL[ ]	/* CallFunction */
SVTCA[1]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 3 values pushed */
4 2 2
CALL[ ]	/* CallFunction */
SVTCA[1]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 8 values pushed */
4 97 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 8 values pushed */
5 91 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
SVTCA[0]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 8 values pushed */
1 97 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 8 values pushed */
2 275 225 175 125 75 0 8
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 8 values pushed */
3 91 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
SVTCA[0]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 3 values pushed */
6 1 7
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 1 value pushed */
0
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
RDTG[ ]	/* RoundDownToGrid */
ROUND[01]	/* Round */
RTG[ ]	/* RoundToGrid */
WCVTP[ ]	/* WriteCVTInPixels */";
},
{
name = "fpgm Table Assembly";
value = "PUSHW[ ]	/* 1 value pushed */
0
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
PUSHW[ ]	/* 1 value pushed */
9
LT[ ]	/* LessThan */
IF[ ]	/* If */
PUSHB[ ]	/* 2 values pushed */
1 1
INSTCTRL[ ]	/* SetInstrExecControl */
EIF[ ]	/* EndIf */
PUSHW[ ]	/* 1 value pushed */
511
SCANCTRL[ ]	/* ScanConversionControl */
PUSHW[ ]	/* 1 value pushed */
68
SCVTCI[ ]	/* SetCVTCutIn */
PUSHW[ ]	/* 2 values pushed */
9 3
SDS[ ]	/* SetDeltaShiftInGState */
SDB[ ]	/* SetDeltaBaseInGState */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
1
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
ROUND[01]	/* Round */
WCVTP[ ]	/* WriteCVTInPixels */
PUSHB[ ]	/* 1 value pushed */
1
ADD[ ]	/* Add */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
2
FDEF[ ]	/* FunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
1
LOOPCALL[ ]	/* LoopAndCallFunction */
POP[ ]	/* PopTopStack */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
3
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
PUSHB[ ]	/* 1 value pushed */
3
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
ROLL[ ]	/* RollTopThreeStack */
DUP[ ]	/* DuplicateTopStack */
ROLL[ ]	/* RollTopThreeStack */
MD[0]	/* MeasureDistance */
ABS[ ]	/* Absolute */
ROLL[ ]	/* RollTopThreeStack */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[00]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
PUSHB[ ]	/* 1 value pushed */
4
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[00]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
NEG[ ]	/* Negate */
ROLL[ ]	/* RollTopThreeStack */
EIF[ ]	/* EndIf */
MDAP[1]	/* MoveDirectAbsPt */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
0
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
ROUND[01]	/* Round */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
0
EQ[ ]	/* Equal */
IF[ ]	/* If */
POP[ ]	/* PopTopStack */
PUSHB[ ]	/* 1 value pushed */
64
EIF[ ]	/* EndIf */
ELSE[ ]	/* Else */
ROUND[01]	/* Round */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
0
EQ[ ]	/* Equal */
IF[ ]	/* If */
POP[ ]	/* PopTopStack */
PUSHB[ ]	/* 1 value pushed */
64
NEG[ ]	/* Negate */
EIF[ ]	/* EndIf */
EIF[ ]	/* EndIf */
MSIRP[0]	/* MoveStackIndirRelPt */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
4
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
PUSHB[ ]	/* 1 value pushed */
4
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
ROLL[ ]	/* RollTopThreeStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[10]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
PUSHB[ ]	/* 1 value pushed */
4
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[10]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
ROLL[ ]	/* RollTopThreeStack */
EIF[ ]	/* EndIf */
MDAP[1]	/* MoveDirectAbsPt */
MIRP[11101]	/* MoveIndirectRelPt */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
5
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
LT[ ]	/* LessThan */
IF[ ]	/* If */
LTEQ[ ]	/* LessThenOrEqual */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
128
WCVTP[ ]	/* WriteCVTInPixels */
ELSE[ ]	/* Else */
PUSHB[ ]	/* 1 value pushed */
64
WCVTP[ ]	/* WriteCVTInPixels */
EIF[ ]	/* EndIf */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
POP[ ]	/* PopTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
PUSHB[ ]	/* 1 value pushed */
192
LT[ ]	/* LessThan */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
192
WCVTP[ ]	/* WriteCVTInPixels */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
EIF[ ]	/* EndIf */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
6
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
ROUND[01]	/* Round */
WCVTP[ ]	/* WriteCVTInPixels */
PUSHB[ ]	/* 1 value pushed */
1
ADD[ ]	/* Add */
DUP[ ]	/* DuplicateTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
RDTG[ ]	/* RoundDownToGrid */
ROUND[01]	/* Round */
RTG[ ]	/* RoundToGrid */
WCVTP[ ]	/* WriteCVTInPixels */
PUSHB[ ]	/* 1 value pushed */
1
ADD[ ]	/* Add */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
7
FDEF[ ]	/* FunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
6
LOOPCALL[ ]	/* LoopAndCallFunction */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
8
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
64
ELSE[ ]	/* Else */
PUSHB[ ]	/* 1 value pushed */
0
EIF[ ]	/* EndIf */
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHB[ ]	/* 1 value pushed */
128
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
192
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
256
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
320
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHW[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
3
CINDEX[ ]	/* CopyXToTopStack */
RCVT[ ]	/* ReadCVT */
PUSHW[ ]	/* 1 value pushed */
384
LT[ ]	/* LessThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
384
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
ELSE[ ]	/* Else */
PUSHB[ ]	/* 1 value pushed */
3
CINDEX[ ]	/* CopyXToTopStack */
RCVT[ ]	/* ReadCVT */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
WCVTP[ ]	/* WriteCVTInPixels */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
9
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
RCVT[ ]	/* ReadCVT */
WCVTP[ ]	/* WriteCVTInPixels */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
ENDF[ ]	/* EndFunctionDefinition */";
},
{
name = "CVT Table";
value = "(
    20,
    57,
    20,
    61,
    57,
    61,
    0,
    20
)";
}
);
guides = (
{
locked = 1;
pos = (421,672);
},
{
locked = 1;
pos = (473,646);
},
{
locked = 1;
pos = (434,17);
},
{
locked = 1;
pos = (814,-137);
},
{
locked = 1;
pos = (689,17);
}
);
id = m01;
metricValues = (
{
pos = 830;
},
{
pos = 734;
},
{
pos = 524;
},
{
},
{
pos = -493;
},
{
pos = 367;
}
);
name = Regular;
userData = {
GSCornerRadius = 30;
GSOffsetCapStyle = 3;
GSOffsetHorizontal = 32;
GSOffsetKeepCompatible = 1;
GSOffsetMakeStroke = 1;
GSOffsetVertical = 25;
};
}
);
instances = (
{
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = postscriptFontName;
value = Chapakala19Regular;
},
{
key = postscriptFullNames;
values = (
{
language = ENG;
value = "Chapakala19 Regular";
}
);
},
{
key = styleNames;
values = (
{
language = ENG;
value = Regular;
}
);
}
);
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
name = Midrib;
}
);
note = "regular - 35x28; phala - 32x25, smallPhala - 30x22";
properties = (
{
key = copyrights;
values = (
{
language = ENG;
value = "2024 (c) Subhashish Panigrahi";
}
);
},
{
key = familyNames;
values = (
{
language = ENG;
value = Chapakala19;
}
);
}
);
settings = {
disablesAutomaticAlignment = 1;
disablesNiceNames = 1;
};
unitsPerEm = 1048;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
};
};
};
versionMajor = 1;
versionMinor = 1;
}
