(
space,
"danda-deva",
"dbldanda-deva",
"candrabindu-orya",
"anusvara-orya",
"visarga-orya",
"a-orya",
"aa-orya",
"i-orya",
"ii-orya",
"u-orya",
"uu-orya",
"vocalicr-orya",
"vocalicl-orya",
"e-orya",
"ai-orya",
"o-orya",
"au-orya",
"ka-orya",
"kha-orya",
"ga-orya",
"gha-orya",
"nga-orya",
"ca-orya",
"cha-orya",
"ja-orya",
"jha-orya",
"nya-orya",
"tta-orya",
"ttha-orya",
"dda-orya",
"ddha-orya",
"nna-orya",
"ta-orya",
"tha-orya",
"da-orya",
"dha-orya",
"na-orya",
"pa-orya",
"pha-orya",
"ba-orya",
"bha-orya",
"ma-orya",
"ma-orya.alt",
"ya-orya",
"ra-orya",
"la-orya",
"lla-orya",
"va-orya",
"sha-orya",
"ssa-orya",
"sa-orya",
"ha-orya",
"nukta-orya",
"avagraha-orya",
"aasign-orya",
"isign-orya",
"iisign-orya",
"usign-orya",
"uusign-orya",
"vocalicrsign-orya",
"vocalicrrsign-orya",
"esign-orya",
"aisign-orya",
"osign-orya",
"ausign-orya",
"virama-orya",
"overline-orya",
"partialaisign-orya",
"partialausign-orya",
"rra-orya",
"rha-orya",
"yya-orya",
"vocalicrr-orya",
"vocalicll-orya",
"vocaliclsign-orya",
"vocalicllsign-orya",
"zero-orya",
"one-orya",
"two-orya",
"three-orya",
"four-orya",
"five-orya",
"six-orya",
"seven-orya",
"eight-orya",
"nine-orya",
"isshar-orya",
"wa-orya",
"onequarter-orya",
"onehalf-orya",
"threequarters-orya",
"onesixteenth-orya",
"oneeighth-orya",
"threesixteenths-orya",
zerowidthnonjoiner,
zerowidthjoiner,
dottedCircle,
"kKa-orya",
"kTta-orya",
"kTa-orya",
"kSsa-orya",
"ngKa-orya",
"ngKha-orya",
"ngGa-orya",
"ngGha-orya",
"cCa-orya",
"cCha-orya",
"jJa-orya",
"jNya-orya",
"nyCa-orya",
"nyCha-orya",
"nyJa-orya",
"nyJha-orya",
"ttTta-orya",
"nnTta-orya",
"nnTtha-orya",
"nnDda-orya",
"nnDdha-orya",
"nnNna-orya",
"tKa-orya",
"tTa-orya",
"tNa-orya",
"tPa-orya",
"tMa-orya",
"tSa-orya",
"tYya-orya",
"tBa-orya",
"dDa-orya",
"dDha-orya",
"dBha-orya",
"dBa-orya",
"dhYya-orya",
"nTa-orya",
"nTRa-orya",
"nTha-orya",
"nDa-orya",
"nDI-orya",
"nDha-orya",
"nDhI-orya",
"nNa-orya",
"nMa-orya",
"pTa-orya",
"ba_anusvara-orya",
"bDa-orya",
"bBa-orya",
"mPa-orya",
"mPha-orya",
"mBa-orya",
"mBha-orya",
"mMa-orya",
"llPa-orya",
"shCa-orya",
"shCha-orya",
"ssKa-orya",
"ssTta-orya",
"ssTtha-orya",
"ssNna-orya",
"ssPa-orya",
"ssPha-orya",
"sKa-orya",
"sKha-orya",
"sTa-orya",
"sTRa-orya",
"sTha-orya",
"sPa-orya",
"sPha-orya",
"hNa-orya",
"hMa-orya",
"hLa-orya",
"hBa-orya",
"lYya-orya",
"lLa-orya",
"kRa-orya",
"tRa-orya",
"dRa-orya",
"bRa-orya",
"shRIi-orya",
"cAa-orya",
"chAa-orya",
"bhAa-orya",
"rAa-orya",
"lAa-orya",
"jNyAa-orya",
"tTAa-orya",
"kI-orya",
"cI-orya",
"chI-orya",
"jI-orya",
"ddI-orya",
"rrI-orya",
"tI-orya",
"dI-orya",
"nI-orya",
"bI-orya",
"bhI-orya",
"rI-orya",
"llI-orya",
"hI-orya",
"lI-orya",
"kTI-orya",
"nTI-orya",
"thI-orya",
"dhI-orya",
"nyCI-orya",
"kIi-orya",
"chIi-orya",
"jIi-orya",
"tIi-orya",
"dIi-orya",
"nIi-orya",
"bIi-orya",
"rIi-orya",
"hIi-orya",
"bhIi-orya",
"lIi-orya",
"kU-orya",
"tU-orya",
"nU-orya",
"bU-orya",
"bhU-orya",
"hU-orya",
"kVocalicr-orya",
"tVocalicr-orya",
"dVocalicr-orya",
"bVocalicr-orya",
"bhVocalicr-orya",
"isignbelow-orya",
"kasign-orya",
"khasign-orya",
"gasign-orya",
"ghasign-orya",
"ngasign-orya",
"casign-orya",
"chasign-orya",
"jasign-orya",
"jhasign-orya",
"ttasign-orya",
"tthasign-orya",
"ddasign-orya",
"ddhasign-orya",
"nnasign-orya",
"tasign-orya",
"thasign-orya.alt",
"thasign-orya",
"dasign-orya",
"dhasign-orya",
"nasign-orya",
"pasign-orya",
"phasign-orya",
"basign-orya.alt",
"bhasign-orya",
"bhasign-orya.alt",
"masign-orya",
"masign-orya.alt",
"yasign-orya",
"repha-orya",
"rasign-orya",
"lasign-orya",
"llasign-orya",
"basign-orya",
"shasign-orya",
"ssasign-orya",
"sasign-orya",
"hasign-orya",
"tRasign-orya",
"yyasign-orya",
"ttTta-orya.alt",
"dhYya-orya.alt",
"LlI-orya.alt",
"LI-orya.alt",
"NIi-orya.alt",
"BIi-orya.alt",
"usign-orya.wide",
"usign-orya.alt",
"uusign-orya.wide",
"uusign-orya.alt",
"repha-orya.alt",
"usign-orya.alt2",
"ba_repha-orya",
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
comma,
period,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
hyphen,
slash,
colon,
semicolon,
less,
greater,
equal,
question,
at,
bracketleft,
bracketright,
backslash,
asciicircum,
underscore,
braceleft,
braceright,
bar,
asciitilde,
acute,
dieresis,
grave,
circumflex,
tilde,
cedilla,
macron,
breve,
dotaccent,
ring,
hungarumlaut,
caron,
ogonek,
questiondown,
exclamdown,
perthousand,
ellipsis,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
section,
plusminus,
quotesinglbase,
quotedblbase,
periodcentered,
degree,
registered,
copyright,
trademark,
endash,
emdash,
divide,
lessequal,
greaterequal,
A,
"khRIi-orya",
"pU-orya",
"kSsIi-orya",
"yyU-orya",
"iisign_repha-orya",
"tKVocalicr-orya",
"kSsI-orya",
"ssTtRa-orya",
"ssTtRU-orya",
_corner.circle,
_corner.smallCircle,
_corner.square,
_corner.tailLeft,
_corner.inkSquareAngle,
_corner.left,
_corner.tailBottom,
_corner.tailRight,
"_or.ja-ya-curve",
"_or.la-puda",
"_or.tta-o-wa",
"_or_ai-au",
"bYya-orya",
"dDa_repha-orya",
"dDha_repha-orya",
"nnNna_repha-orya",
"shRa-orya",
"tSNa-orya",
test,
_or.CircleShape,
"ai-orya.init",
"kSsa-orya.init",
"pRa-orya",
_basicMunduli,
_kern,
_or_Tta_kaar,
_or_a_aa,
_or_ai_au_kaar,
_or_ai_kaar,
_or_dda_Handi,
_or_e,
_or_e_kaar,
_or_gha,
_or_ha_tick,
_or_halant_virama,
_or_i_kaar_loop,
_or_nna,
_or_o,
_or_sha,
_or_t_ma,
_or_ta_phala,
_or_tha,
_or_uu_kaar,
_or_wa,
_comp.tail,
_or.2,
_or.GaiChanda,
_or.LanjaGol,
_or.angleBa,
_or.candrabindu,
_or.conso_ii_kaar,
_or.ekaar,
_or.ikaar,
_or.inktrap,
_or.ja_dhama,
_or.kha,
_or.roundEnd,
_or.ta_phala,
_or.u_kaar,
_or.vertHoriGuides
)