{
.appVersion = "3436";
.formatVersion = 3;
customParameters = (
{
name = vendorID;
value = ofdn;
},
{
name = panose;
value = (
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
);
},
{
name = unicodeRanges;
value = (
0,
1,
5,
15,
19,
31,
35,
38,
45
);
},
{
name = fsType;
value = (
);
},
{
name = glyphOrder;
value = (
.notdef,
.null,
CR,
space,
dv_danda,
dv_double_danda,
or_candrabindu,
or_anusvara,
or_visarga,
or_a,
or_aa,
or_i,
or_ii,
or_u,
or_uu,
or_ru,
or_lu,
or_e,
or_ai,
or_o,
or_au,
or_ka,
or_kha,
or_ga,
or_gha,
or_nga,
or_ca,
or_cha,
or_ja,
or_jha,
or_nya,
or_tta,
or_ttha,
or_dda,
or_ddha,
or_nna,
or_ta,
or_tha,
or_da,
or_dha,
or_na,
or_pa,
or_pha,
or_ba,
or_bha,
or_ma,
or_ma.alt,
or_ya,
or_ra,
or_la,
or_lla,
or_va,
or_sha,
or_ssa,
or_sa,
or_ha,
or_nukta,
or_avagraha,
or_aakaar,
or_ikaar,
or_iikaar,
or_ukaar,
or_uukaar,
or_rukaar,
or_rrukaar,
or_ekaar,
or_aikaar,
or_okaar,
or_aukaar,
or_halant,
uni0B55,
or_ailengthmk,
or_aulengthmk,
or_rra,
or_rha,
or_yya,
or_rru,
or_llu,
or_lukaar,
or_llukaar,
or_zero,
or_one,
or_two,
or_three,
or_four,
or_five,
or_six,
or_seven,
or_eight,
or_nine,
or_isshar,
or_wa,
or_onequarter,
or_onehalf,
or_threequarters,
or_onesixteenth,
or_oneeighth,
or_threesixteenths,
zerowidthnonjoiner,
zerowidthjoiner,
dottedcircle,
or_k_ka,
or_k_tta,
or_k_ta,
or_k_ssa,
or_ng_ka,
or_ng_kha,
or_ng_ga,
or_ng_gha,
or_c_ca,
or_c_cha,
or_j_ja,
or_j_nya,
or_ny_ca,
or_ny_cha,
or_ny_ja,
or_ny_jha,
or_tt_tta,
or_nn_tta,
or_nn_ttha,
or_nn_dda,
or_nn_ddha,
or_nn_nna,
or_t_ka,
or_t_ta,
or_t_na,
or_t_pa,
or_t_ma,
or_t_sa,
or_t_yya,
or_t_va,
or_d_da,
or_d_dha,
or_d_bha,
or_d_va,
or_dh_yya,
or_n_ta,
or_n_t_ra,
or_n_tha,
or_n_da,
or_n_d_ikaar,
or_n_dha,
or_n_dh_ikaar,
or_n_na,
or_n_ma,
or_p_ta,
or_b_anusvara,
or_b_da,
or_b_ba,
or_m_pa,
or_m_pha,
or_m_va,
or_m_bha,
or_m_ma,
or_ll_pa,
or_sh_ca,
or_sh_cha,
or_ss_ka,
or_ss_tta,
or_ss_ttha,
or_ss_nna,
or_ss_pa,
or_ss_pha,
or_s_ka,
or_s_kha,
or_s_ta,
or_s_t_ra,
or_s_tha,
or_s_pa,
or_s_pha,
or_h_na,
or_h_ma,
or_h_la,
or_h_va,
or_l_yya,
or_l_la,
or_k_ra,
or_t_ra,
or_d_ra,
or_b_ra,
or_sh_r_ii,
or_c_aakaar,
or_ch_aakaar,
or_bh_aakaar,
or_r_aakaar,
or_l_aakaar,
or_j_ny_aakaar,
or_t_t_aakaar,
or_k_ikaar,
or_c_ikaar,
or_ch_ikaar,
or_j_ikaar,
or_dd_ikaar,
or_rr_ikaar,
or_t_ikaar,
or_d_ikaar,
or_n_ikaar,
or_b_ikaar,
or_bh_ikaar,
or_r_ikaar,
or_ll_ikaar,
or_h_ikaar,
or_l_ikaar,
or_k_t_ikaar,
or_n_t_ikaar,
or_n_d_ikaar,
or_n_dh_ikaar,
or_th_ikaar,
or_dh_ikaar,
or_ny_c_ikaar,
or_k_iikaar,
or_ch_iikaar,
or_j_iikaar,
or_t_iikaar,
or_d_iikaar,
or_n_iikaar,
or_b_iikaar,
or_r_iikaar,
or_h_iikaar,
or_bh_iikaar,
or_l_iikaar,
or_k_ukaar,
or_t_ukaar,
or_n_ukaar,
or_b_ukaar,
or_bh_ukaar,
or_h_ukaar,
or_k_rukaar,
or_t_rukaar,
or_d_rukaar,
or_b_rukaar,
or_bh_rukaar,
or_ikaar_below,
or_ka_phalaa,
or_kha_phalaa,
or_ga_phalaa,
or_gha_phalaa,
or_nga_phalaa,
or_ca_phalaa,
or_cha_phalaa,
or_ja_phalaa,
or_jha_phalaa,
or_tta_phalaa,
or_ttha_phalaa,
or_dda_phalaa,
or_ddha_phalaa,
or_nna_phalaa,
or_ta_phalaa,
or_tha_phalaa,
or_tha_phalaa.alt,
or_da_phalaa,
or_dha_phalaa,
or_na_phalaa,
or_pa_phalaa,
or_pha_phalaa,
or_ba_phalaa,
or_bha_phalaa,
or_bha_phalaa.alt,
or_ma_phalaa,
or_ma_phalaa.alt,
or_ya_phalaa,
or_reph,
or_ra_phalaa,
or_la_phalaa,
or_lla_phalaa,
or_va_phalaa,
or_sha_phalaa,
or_ssa_phalaa,
or_sa_phalaa,
or_ha_phalaa,
or_t_ra_phalaa,
or_yya_phalaa,
or_tt_tta.alt,
or_dh_yya.alt,
or_ll_ikaar.alt,
or_l_ikaar.alt,
or_n_iikaar.alt,
or_b_iikaar.alt,
or_ukaar.wide,
or_ukaar.alt,
or_uukaar.wide,
or_uukaar.alt,
or_reph.alt,
or_ukaar.alt2,
b_reph,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
comma,
period,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
hyphen,
slash,
colon,
semicolon,
less,
greater,
equal,
question,
at,
bracketleft,
bracketright,
backslash,
asciicircum,
underscore,
braceleft,
braceright,
bar,
asciitilde,
acute,
dieresis,
grave,
circumflex,
tilde,
cedilla,
macron,
breve,
dotaccent,
ring,
hungarumlaut,
caron,
ogonek,
questiondown,
exclamdown,
perthousand,
ellipsis,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
section,
plusminus,
quotesinglbase,
quotedblbase,
periodcentered,
degree,
registered,
copyright,
trademark,
endash,
emdash,
divide,
lessequal,
greaterequal,
A,
or_kh_r_ii,
or_nn_nna_ref,
or_p_ukaar,
or_k_ss_ii,
or_yy_ukaar,
or_iikaar_ref,
or_t_k_ru,
or_k_ss_i,
or_ss_tt_ra,
or_ss_tt_r_u
);
},
{
name = "Write DisplayStrings";
value = 0;
},
{
disabled = 1;
name = "Don't use Production Names";
value = 0;
}
);
date = "2022-10-25 05:42:15 +0000";
familyName = Chapakala19;
featurePrefixes = (
{
code = "languagesystem DFLT dflt;
languagesystem ory2 dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature akhn;
feature rphf;
feature blwf;
feature pstf;
feature pres;
feature pres;
feature pres;
feature calt;
";
tag = aalt;
},
{
code = "# Relevant glyph order at this point:
#
# - <base>
# - nukta
# - ikaar/ailengthmk
# - candrabindu
# - halant
# - <base>

lookupflag UseMarkFilteringSet [naUsign-oriya halant-oriya]; # Ignore ikaar, ailengthmk, candrabindu

sub dda-oriya nukta-oriya by rra-oriya;
sub ddha-oriya nukta-oriya by rha-oriya;

sub ka-oriya halant-oriya ssa-oriya by kaSsa-oriya;
sub ja-oriya halant-oriya nya-oriya by baYya-oriya;
";
tag = akhn;
},
{
code = "sub ra-oriya halant-oriya by reph-oriya;
";
tag = rphf;
},
{
code = "sub halant-oriya ka-oriya by kasign-oriya;
sub halant-oriya kha-oriya by khasign-oriya;
sub halant-oriya ga-oriya by gasign-oriya;
sub halant-oriya gha-oriya by ghasign-oriya;
sub halant-oriya nga-oriya by ngasign-oriya;
sub halant-oriya ca-oriya by casign-oriya;
sub halant-oriya cha-oriya by chasign-oriya;
sub halant-oriya ja-oriya by jasign-oriya;
sub halant-oriya jha-oriya by jhasign-oriya;
sub halant-oriya tta-oriya by ttasign-oriya;
sub halant-oriya ttha-oriya by tthasign-oriya;
sub halant-oriya dda-oriya by ddasign-oriya;
sub halant-oriya ddha-oriya by ddhasign-oriya;
sub halant-oriya nna-oriya by nnasign-oriya;
sub halant-oriya ta-oriya by tasign-oriya;
sub halant-oriya tha-oriya by thasign-oriya;
sub halant-oriya da-oriya by dasign-oriya;
sub halant-oriya dha-oriya by dhasign-oriya;
sub halant-oriya na-oriya by nasign-oriya;
sub halant-oriya pa-oriya by pasign-oriya;
sub halant-oriya pha-oriya by phasign-oriya;
sub halant-oriya bha-oriya by bhasign-oriya;
sub halant-oriya ma-oriya by masign-oriya;
sub halant-oriya ra-oriya by rasign-oriya;
sub halant-oriya lla-oriya by llasign-oriya;
sub halant-oriya la-oriya by lasign-oriya;
sub halant-oriya [ba-oriya va-oriya wa-oriya] by vasign-oriya; # Neutralized
sub halant-oriya sha-oriya by shasign-oriya;
sub halant-oriya ssa-oriya by ssasign-oriya;
sub halant-oriya sa-oriya by sasign-oriya;
sub halant-oriya ha-oriya by hasign-oriya;
";
tag = blwf;
},
{
code = "sub halant-oriya [ya-oriya yya-oriya] by yyasign-oriya; # Neutralized
";
tag = pstf;
},
{
code = "# Relevant glyph order at this point:
#
# - <base>
# - nukta
# - ikaar/ailengthmk
# - reph
# - candrabindu
# - <below-base phalaa>
# - ukaar/...
# - <post-base phalaa>

lookupflag UseMarkFilteringSet [nukta-oriya]; # Ignore ikaar, ailengthmk, reph, candrabindu, ukaar, -oriya...

sub ka or_kasign by or_k_ka;
sub or_ka or_ttasign by or_k_tta;
sub or_ka or_tasign by or_k_ta;
sub or_ka or_rasign by or_k_ra;

sub or_nga or_kasign by or_ng_ka;
sub or_nga or_khasign by or_ng_kha;
sub or_nga or_gasign by or_ng_ga;
sub or_nga or_ghasign by or_ng_gha;

sub or_ca or_casign by or_c_ca;
sub or_ca or_chasign by or_c_cha;

sub or_ja or_jasign by or_j_ja;

sub or_nya or_casign by or_ny_ca;
sub or_nya or_chasign by or_ny_cha;
sub or_nya or_jasign by or_ny_ja;
sub or_nya or_jhasign by or_ny_jha;

sub or_tta or_ttasign by or_tt_tta;

sub or_nna or_ttasign by or_nn_tta;
sub or_nna or_tthasign by or_nn_ttha;
sub or_nna or_ddasign by or_nn_dda; 
sub or_nna or_ddhasign by or_nn_ddha;
sub or_nna or_nnasign by or_nn_nna;

sub or_ta or_kasign by or_t_ka;
sub or_ta or_tasign by or_t_ta;
sub or_ta or_nasign by or_t_na;
sub or_ta or_pasign by or_t_pa;
sub or_ta or_masign by or_t_ma;
sub or_ta or_yyasign by or_t_yya;
sub or_ta or_rasign by or_t_ra;
sub or_ta or_vasign by or_t_va;
sub or_ta or_sasign by or_t_sa;
sub or_ta or_sasign or_nasign by or_t_s_na;

sub or_da or_dasign by or_d_da;
sub or_da or_dhasign by or_d_dha;
sub or_da or_bhasign by or_d_bha;
sub or_da or_rasign by or_d_ra;
sub or_da or_vasign by or_d_va;

sub or_dha or_yyasign by or_dh_yya;

sub or_na or_tasign by or_n_ta;
sub or_na or_tasign or_rasign by or_n_t_ra;
sub or_na or_thasign by or_n_tha;
sub or_na or_dasign by or_n_da;
sub or_na or_dhasign by or_n_dha;
sub or_na or_nasign by or_n_na;
sub or_na or_masign by or_n_ma;

sub or_pa or_tasign by or_p_ta;

sub or_ba or_dasign by or_b_da;
sub or_ba or_yyasign by or_b_yya;
sub or_ba or_rasign by or_b_ra;
sub or_ba or_vasign by or_b_ba;

sub or_ma or_pasign by or_m_pa;
sub or_ma or_phasign by or_m_pha;
sub or_ma or_bhasign by or_m_bha;
sub or_ma or_masign by or_m_ma;
sub or_ma or_vasign by or_m_va;

sub or_lla or_pasign by or_ll_pa;

sub or_la or_yyasign by or_l_yya;
sub or_la or_lasign by or_l_la;

sub or_sha or_casign by or_sh_ca;
sub or_sha or_chasign by or_sh_cha;

sub or_ssa or_kasign by or_ss_ka;
sub or_ssa or_ttasign by or_ss_tta;
sub or_ssa or_ttasign or_rasign by or_ss_tt_ra;
sub or_ssa or_tthasign by or_ss_ttha;
sub or_ssa or_nnasign by or_ss_nna;
sub or_ssa or_pasign by or_ss_pa;
sub or_ssa or_phasign by or_ss_pha;

sub or_sa or_kasign by or_s_ka;
sub or_sa or_khasign by or_s_kha;
sub or_sa or_tasign by or_s_ta;
sub or_sa or_tasign or_rasign by or_s_t_ra;
sub or_sa or_thasign by or_s_tha;
sub or_sa or_pasign by or_s_pa;
sub or_sa or_phasign by or_s_pha;

sub or_ha or_nasign by or_h_na;
sub or_ha or_masign by or_h_ma;
sub or_ha or_lasign by or_h_la;
sub or_ha or_vasign by or_h_va;
-oriya";
tag = pres;
},
{
code = "# Relevant glyph order at this point:
#
# - <base>
# - nukta
# - ikaar/ailengthmk
# - reph
# - candrabindu
# - <below-base phalaa>
# - ukaar/...
# - <post-base phalaa>
# - aasign/...
# - anusvara

sub ka-oriya isign-oriya by kaIsign-oriya;
sub ka-oriya iisign-oriya by kaIisign-oriya;
sub ka-oriya usign-oriya by kaUsign-oriya;
sub ka-oriya rVocalic-oriya by kaRvocalicsign-oriya;

sub kha-oriya rasign-oriya iisign-oriya by khaRaIisign-oriya; # kh_ra not available

sub ca-oriya aasign-oriya by caAasign-oriya;
sub ca-oriya isign-oriya by caIsign-oriya;

sub cha-oriya aasign-oriya by chaAasign-oriya;
sub cha-oriya isign-oriya by chaIsign-oriya;
sub cha-oriya iisign-oriya by chaIisign-oriya;

sub ja-oriya isign-oriya by jaIsign-oriya;
sub ja-oriya iisign-oriya by jaIisign-oriya;

sub dda-oriya isign-oriya by ddaIsign-oriya;

sub ta-oriya isign-oriya by taIsign-oriya;
sub ta-oriya iisign-oriya by taIisign-oriya;
sub ta-oriya usign-oriya by taUsign-oriya;
sub ta-oriya rVocalic-oriya by taRvocalicsign-oriya;

sub tha-oriya isign-oriya by thaIsign-oriya;

sub da-oriya isign-oriya by daIsign-oriya;
sub da-oriya iisign-oriya by daIisign-oriya;
sub da-oriya rVocalicsign-oriya by daRvocalicsign-oriya;

sub dha-oriya isign-oriya by dhaIsign-oriya;

sub na-oriya isign-oriya by naIsign-oriya;
sub na-oriya iisign-oriya by naIisign-oriya;
sub na-oriya usign-oriya by naUsign-oriya;

sub pa-oriya usign-oriya by paUsign-oriya;

sub ba-oriya isign-oriya by baIsign-oriya;
sub ba-oriya iisign-oriya by baIisign-oriya;
sub ba-oriya usign-oriya by baUsign-oriya;
sub ba-oriya rVocalicsign-oriya by baRvocalicsign-oriya;
sub ba-oriya anusvara-oriya by baAnusvara-oriya;

sub bha-oriya aasign-oriya by bhaAasign-oriya;
sub bha-oriya isign-oriya by bhaIsign-oriya;
sub bha-oriya iisign-oriya by bhaIisign-oriya;
sub bha-oriya usign-oriya by bhaUsign-oriya;
sub bha-oriya rVocalicsign-oriya by bhaRvocalicsign-oriya;

sub yya-oriya usign-oriya by yyUsign-oriya;

sub ra-oriya aasign-oriya by rAasign-oriya;
sub ra-oriya isign-oriya by rIsign-oriya;
sub ra-oriya iisign-oriya by rIisign-oriya;

sub lla-oriya isign-oriya by llIsign-oriya;

sub la-oriya aasign-oriya by lAasign-oriya;
sub la-oriya isign-oriya by lIsign-oriya;
sub la-oriya iisign-oriya by lIisign-oriya;

sub sha-oriya ra_phalaa-oriya iisign-oriya by sh_r_ii-oriya; # sh_ra not available

sub ha-oriya isign-oriya by hIsign-oriya;
sub ha-oriya iisign-oriya by hIisign-oriya;
sub ha-oriya usign-oriya by hUsign-oriya;

# Bases formed in akhn:

sub rra-oriya isign-oriya by rrIsign-oriya;

sub kaSsa-oriya isign-oriya by kaSsaIsign-oriya;
sub kaSsa-oriya iisign-oriya by kaSsaIisign-oriya;
sub jaNya-oriya aasign-oriya by jaNyAasign-oriya;

# Bases formed in pres:

sub k_ta-oriya isign-oriya by k_tIsign-oriya;
sub ny_ca-oriya isign-oriya by ny_cIsign-oriya;
sub nn_nna-oriya reph-oriya by nn_nna_reph-oriya;
sub t_ka-oriya rVocalicsign-oriya by t_k_ru-oriya;
sub t_ta-oriya aasign-oriya by t_tAasign-oriya;
sub d_da-oriya reph-oriya by d_da_reph-oriya;
sub d_dha-oriya reph-oriya by d_dha_reph-oriya;
sub n_ta-oriya isign-oriya by n_tIsign-oriya;
sub n_da-oriya isign-oriya by n_dIsign-oriya;
sub n_dha-oriya isign-oriya by n_dhIsign-oriya;
sub ss_tt_ra-oriya usign-oriya by ss_tt_r_u-oriya;
";
tag = pres;
},
{
code = "sub ta-oriya thasign-oriya' by thasign-oriya.alt;
sub [yya-oriya ra-oriya] u usign-oriya' by usign-oriya.wide;
sub lla-oriya usign-oriya' by usign-oriya.alt;
";
tag = pres;
},
{
code = "sub space ai-oriya' by ai-oriya.alt;
sub space kaSsa-oriya' by kaSsa.alt;
";
tag = calt;
}
);
fontMaster = (
{
customParameters = (
{
name = typoAscender;
value = 830;
},
{
name = typoDescender;
value = -493;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1258;
},
{
name = winDescent;
value = 524;
},
{
name = hheaAscender;
value = 835;
},
{
name = hheaDescender;
value = -487;
},
{
name = strikeoutPosition;
value = 314;
},
{
name = strikeoutSize;
value = 52;
},
{
name = "prep Table Assembly";
value = "PUSHW[ ]	/* 1 value pushed */
0
CALL[ ]	/* CallFunction */
SVTCA[0]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 3 values pushed */
1 3 2
CALL[ ]	/* CallFunction */
SVTCA[1]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 3 values pushed */
4 2 2
CALL[ ]	/* CallFunction */
SVTCA[1]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 8 values pushed */
4 97 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 8 values pushed */
5 91 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
SVTCA[0]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 8 values pushed */
1 97 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 8 values pushed */
2 275 225 175 125 75 0 8
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 8 values pushed */
3 91 77 60 43 26 0 8
CALL[ ]	/* CallFunction */
SVTCA[0]	/* SetFreedomAndProjectionVectorToAxis */
PUSHW[ ]	/* 3 values pushed */
6 1 7
CALL[ ]	/* CallFunction */
PUSHW[ ]	/* 1 value pushed */
0
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
RDTG[ ]	/* RoundDownToGrid */
ROUND[01]	/* Round */
RTG[ ]	/* RoundToGrid */
WCVTP[ ]	/* WriteCVTInPixels */";
},
{
name = "fpgm Table Assembly";
value = "PUSHW[ ]	/* 1 value pushed */
0
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
PUSHW[ ]	/* 1 value pushed */
9
LT[ ]	/* LessThan */
IF[ ]	/* If */
PUSHB[ ]	/* 2 values pushed */
1 1
INSTCTRL[ ]	/* SetInstrExecControl */
EIF[ ]	/* EndIf */
PUSHW[ ]	/* 1 value pushed */
511
SCANCTRL[ ]	/* ScanConversionControl */
PUSHW[ ]	/* 1 value pushed */
68
SCVTCI[ ]	/* SetCVTCutIn */
PUSHW[ ]	/* 2 values pushed */
9 3
SDS[ ]	/* SetDeltaShiftInGState */
SDB[ ]	/* SetDeltaBaseInGState */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
1
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
ROUND[01]	/* Round */
WCVTP[ ]	/* WriteCVTInPixels */
PUSHB[ ]	/* 1 value pushed */
1
ADD[ ]	/* Add */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
2
FDEF[ ]	/* FunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
1
LOOPCALL[ ]	/* LoopAndCallFunction */
POP[ ]	/* PopTopStack */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
3
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
PUSHB[ ]	/* 1 value pushed */
3
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
ROLL[ ]	/* RollTopThreeStack */
DUP[ ]	/* DuplicateTopStack */
ROLL[ ]	/* RollTopThreeStack */
MD[0]	/* MeasureDistance */
ABS[ ]	/* Absolute */
ROLL[ ]	/* RollTopThreeStack */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[00]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
PUSHB[ ]	/* 1 value pushed */
4
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[00]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
NEG[ ]	/* Negate */
ROLL[ ]	/* RollTopThreeStack */
EIF[ ]	/* EndIf */
MDAP[1]	/* MoveDirectAbsPt */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
0
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
ROUND[01]	/* Round */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
0
EQ[ ]	/* Equal */
IF[ ]	/* If */
POP[ ]	/* PopTopStack */
PUSHB[ ]	/* 1 value pushed */
64
EIF[ ]	/* EndIf */
ELSE[ ]	/* Else */
ROUND[01]	/* Round */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
0
EQ[ ]	/* Equal */
IF[ ]	/* If */
POP[ ]	/* PopTopStack */
PUSHB[ ]	/* 1 value pushed */
64
NEG[ ]	/* Negate */
EIF[ ]	/* EndIf */
EIF[ ]	/* EndIf */
MSIRP[0]	/* MoveStackIndirRelPt */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
4
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
PUSHB[ ]	/* 1 value pushed */
4
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
ROLL[ ]	/* RollTopThreeStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[10]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
PUSHB[ ]	/* 1 value pushed */
4
CINDEX[ ]	/* CopyXToTopStack */
GC[0]	/* GetCoordOnPVector */
DUP[ ]	/* DuplicateTopStack */
ROUND[10]	/* Round */
SUB[ ]	/* Subtract */
ABS[ ]	/* Absolute */
GT[ ]	/* GreaterThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
ROLL[ ]	/* RollTopThreeStack */
EIF[ ]	/* EndIf */
MDAP[1]	/* MoveDirectAbsPt */
MIRP[11101]	/* MoveIndirectRelPt */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
5
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
LT[ ]	/* LessThan */
IF[ ]	/* If */
LTEQ[ ]	/* LessThenOrEqual */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
128
WCVTP[ ]	/* WriteCVTInPixels */
ELSE[ ]	/* Else */
PUSHB[ ]	/* 1 value pushed */
64
WCVTP[ ]	/* WriteCVTInPixels */
EIF[ ]	/* EndIf */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
POP[ ]	/* PopTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
PUSHB[ ]	/* 1 value pushed */
192
LT[ ]	/* LessThan */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
192
WCVTP[ ]	/* WriteCVTInPixels */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
EIF[ ]	/* EndIf */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
6
FDEF[ ]	/* FunctionDefinition */
DUP[ ]	/* DuplicateTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
ROUND[01]	/* Round */
WCVTP[ ]	/* WriteCVTInPixels */
PUSHB[ ]	/* 1 value pushed */
1
ADD[ ]	/* Add */
DUP[ ]	/* DuplicateTopStack */
DUP[ ]	/* DuplicateTopStack */
RCVT[ ]	/* ReadCVT */
RDTG[ ]	/* RoundDownToGrid */
ROUND[01]	/* Round */
RTG[ ]	/* RoundToGrid */
WCVTP[ ]	/* WriteCVTInPixels */
PUSHB[ ]	/* 1 value pushed */
1
ADD[ ]	/* Add */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
7
FDEF[ ]	/* FunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
6
LOOPCALL[ ]	/* LoopAndCallFunction */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
8
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
64
ELSE[ ]	/* Else */
PUSHB[ ]	/* 1 value pushed */
0
EIF[ ]	/* EndIf */
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHB[ ]	/* 1 value pushed */
128
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
192
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
256
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHB[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
320
ROLL[ ]	/* RollTopThreeStack */
ROLL[ ]	/* RollTopThreeStack */
ELSE[ ]	/* Else */
ROLL[ ]	/* RollTopThreeStack */
SWAP[ ]	/* SwapTopStack */
EIF[ ]	/* EndIf */
DUP[ ]	/* DuplicateTopStack */
PUSHW[ ]	/* 1 value pushed */
3
MINDEX[ ]	/* MoveXToTopStack */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
PUSHB[ ]	/* 1 value pushed */
3
CINDEX[ ]	/* CopyXToTopStack */
RCVT[ ]	/* ReadCVT */
PUSHW[ ]	/* 1 value pushed */
384
LT[ ]	/* LessThan */
IF[ ]	/* If */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
PUSHW[ ]	/* 1 value pushed */
384
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
ELSE[ ]	/* Else */
PUSHB[ ]	/* 1 value pushed */
3
CINDEX[ ]	/* CopyXToTopStack */
RCVT[ ]	/* ReadCVT */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
SWAP[ ]	/* SwapTopStack */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
WCVTP[ ]	/* WriteCVTInPixels */
ENDF[ ]	/* EndFunctionDefinition */
PUSHW[ ]	/* 1 value pushed */
9
FDEF[ ]	/* FunctionDefinition */
MPPEM[ ]	/* MeasurePixelPerEm */
GTEQ[ ]	/* GreaterThanOrEqual */
IF[ ]	/* If */
RCVT[ ]	/* ReadCVT */
WCVTP[ ]	/* WriteCVTInPixels */
ELSE[ ]	/* Else */
POP[ ]	/* PopTopStack */
POP[ ]	/* PopTopStack */
EIF[ ]	/* EndIf */
ENDF[ ]	/* EndFunctionDefinition */";
},
{
name = "CVT Table";
value = "(
    20,
    57,
    20,
    61,
    57,
    61,
    0,
    20
)";
}
);
guides = (
{
locked = 1;
pos = (421,672);
},
{
locked = 1;
pos = (473,646);
},
{
locked = 1;
pos = (434,17);
},
{
locked = 1;
pos = (814,-137);
},
{
locked = 1;
pos = (689,17);
}
);
id = m01;
metricValues = (
{
pos = 830;
},
{
pos = 734;
},
{
pos = 524;
},
{
},
{
pos = -493;
},
{
pos = 367;
}
);
name = Regular;
userData = {
GSCornerRadius = 30;
GSOffsetCapStyle = 3;
GSOffsetHorizontal = 35;
GSOffsetKeepCompatible = 1;
GSOffsetMakeStroke = 1;
GSOffsetVertical = 28;
};
}
);
instances = (
{
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = postscriptFontName;
value = Chapakala19Regular;
},
{
key = postscriptFullNames;
values = (
{
language = ENG;
value = "Chapakala19 Regular";
}
);
},
{
key = styleNames;
values = (
{
language = ENG;
value = Regular;
}
);
}
);
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
name = Midrib;
}
);
note = "phala - 32x25; regular - 35x28";
properties = (
{
key = copyrights;
values = (
{
language = ENG;
value = "2024 (c) Subhashish Panigrahi";
}
);
},
{
key = familyNames;
values = (
{
language = ENG;
value = Chapakala19;
}
);
}
);
settings = {
disablesAutomaticAlignment = 1;
};
unitsPerEm = 1048;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
};
};
};
versionMajor = 1;
versionMinor = 1;
}
