(
.notdef,
.null,
CR,
space,
zerowidthnonjoiner,
zerowidthjoiner,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
comma,
period,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
hyphen,
slash,
colon,
semicolon,
less,
greater,
equal,
question,
at,
bracketleft,
bracketright,
backslash,
asciicircum,
underscore,
braceleft,
braceright,
bar,
asciitilde,
acute,
dieresis,
grave,
circumflex,
tilde,
cedilla,
macron,
breve,
dotaccent,
ring,
hungarumlaut,
caron,
ogonek,
questiondown,
exclamdown,
perthousand,
ellipsis,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
section,
plusminus,
quotesinglbase,
quotedblbase,
periodcentered,
degree,
registered,
copyright,
trademark,
endash,
emdash,
divide,
lessequal,
greaterequal,
A,
"aa-oriya",
"i-oriya",
"ii-oriya",
"u-oriya",
"uu-oriya",
"rVocalic-oriya",
"rrVocalic-oriya",
"lVocalic-oriya",
"llVocalic-oriya",
"e-oriya",
"ai-oriya",
"o-oriya",
"au-oriya",
"ka-oriya",
"kha-oriya",
"ga-oriya",
"gha-oriya",
"nga-oriya",
"ca-oriya",
"cha-oriya",
"ja-oriya",
"jha-oriya",
"nya-oriya",
"tta-oriya",
"ttha-oriya",
"dda-oriya",
"ddha-oriya",
"nna-oriya",
"ta-oriya",
"tha-oriya",
"da-oriya",
"dha-oriya",
"na-oriya",
"pa-oriya",
"pha-oriya",
"ba-oriya",
"bha-oriya",
"ma-oriya",
"ya-oriya",
"ra-oriya",
"la-oriya",
"lla-oriya",
"va-oriya",
"sha-oriya",
"ssa-oriya",
"sa-oriya",
"ha-oriya",
"rra-oriya",
"rha-oriya",
"wa-oriya",
"yya-oriya",
"ai-oriya.alt",
"ma-oriya.alt",
"a-oriya",
"onequarter-oriya",
"onehalf-oriya",
"threequarters-oriya",
"onesixteenth-oriya",
"oneeighth-oriya",
"threesixteenths-oriya",
"zero-oriya",
"one-oriya",
"two-oriya",
"three-oriya",
"four-oriya",
"five-oriya",
"six-oriya",
"seven-oriya",
"eight-oriya",
"nine-oriya",
"danda-deva",
"dbldanda-deva",
"isshar-oriya",
dottedCircle,
"candraBindu-oriya",
"reph-oriya",
"aiLength-oriya",
"halant-oriya",
"nukta-oriya",
"candraBindu-oriya.alt",
"reph-oriya.alt",
"anusvara-oriya",
"visarga-oriya",
"avagraha-oriya",
"auLength-oriya",
_corner.circle,
_corner.inkSquareAngle,
_corner.left,
_corner.smallCircle,
_corner.square,
_corner.tailBottom,
_corner.tailLeft,
_corner.tailRight,
"_or.ja-ya-curve",
"_or.la-puda",
"_or.tta-o-wa",
"_or_ai-au",
"Isignbelow-oriya",
_test,
"aasign-oriya",
"aisign-oriya",
"ausign-oriya",
"bBa-oriya",
"bDa-oriya",
"bRa-oriya",
"baAnusvara-oriya",
"baIisign-oriya",
"baIsign-oriya",
"baReph-oriya",
"baRvocalicsign-oriya",
"baUsign-oriya",
"baYya-oriya",
"bhaAasign-oriya",
"bhaIisign-oriya",
"bhaIsign-oriya",
"bhaRvocalicsign-oriya",
"bhaUsign-oriya",
"bhasign-oriya",
"cCa-oriya",
"cCha-oriya",
"caAasign-oriya",
"caIsign-oriya",
"casign-oriya",
"chaAasign-oriya",
"chaIisign-oriya",
"chaIsign-oriya",
"chasign-oriya",
"dDa-oriya",
"dDha-oriya",
"dRa-oriya",
"dVa-oriya",
"daBha-oriya",
"daDaReph-oriya",
"daDhaReph-oriya",
"daIisign-oriya",
"daIsign-oriya",
"daRvocalicsign-oriya",
"dasign-oriya",
"ddaIsign-oriya",
"ddasign-oriya",
"ddhasign-oriya",
"dhYya-oriya",
"dhaIsign-oriya",
"dhasign-oriya",
"esign-oriya",
"gasign-oriya",
"ghasign-oriya",
"hLa-oriya",
"hMa-oriya",
"hNa-oriya",
"hVa-oriya",
"haIisign-oriya",
"haIsign-oriya",
"haUsign-oriya",
"hasign-oriya",
"iisign-oriya",
"iisignRef-oriya",
"isign-oriya",
"jJa-oriya",
"jNya-oriya",
"jaIisign-oriya",
"jaIsign-oriya",
"jaNyaAasign-oriya",
"jasign-oriya",
"jhasign-oriya",
"kKa-oriya",
"kRa-oriya",
"kTa-oriya",
"kTta-oriya",
"kaIisign-oriya",
"kaIsign-oriya",
"kaRvocalicsign-oriya",
"kaSsI-oriya",
"kaSsa-oriya",
"kaSsaIisign-oriya",
"kaTaIsign-oriya",
"kaUsign-oriya",
"kasign-oriya",
"khaRaIisign-oriya",
"khasign-oriya",
"lLa-oriya",
"lVocalicsign-oriya",
"lYya-oriya",
"laAasign-oriya",
"laIisign-oriya",
"laIsign-oriya",
"lasign-oriya",
"llPa-oriya",
"llVocalicsign-oriya",
"ll_isign-oriya",
"llasign-oriya",
"mMa-oriya",
"mPa-oriya",
"mPha-oriya",
"mVa-oriya",
"maBha-oriya",
"masign-oriya",
"nDa-oriya",
"nDha-oriya",
"nMa-oriya",
"nNa-oriya",
"nTRa-oriya",
"nTa-oriya",
"nTha-oriya",
"naDaIsign-oriya",
"naDhaIsign-oriya",
"naIisign-oriya",
"naIsign-oriya",
"naTaIsign-oriya",
"naUsign-oriya",
"nasign-oriya",
"ngGa-oriya",
"ngGha-oriya",
"ngKa-oriya",
"ngKha-oriya",
"ngasign-oriya",
"nnDda-oriya",
"nnDdha-oriya",
"nnNna-oriya",
"nnTta-oriya",
"nnTtha-oriya",
"nnaNnaReph-oriya",
"nnasign-oriya",
"nyCa-oriya",
"nyCha-oriya",
"nyJa-oriya",
"nyJha-oriya",
"nyaCaIsign-oriya",
"osign-oriya",
"paTa-oriya",
"paUsign-oriya",
"pasign-oriya",
"phasign-oriya",
"rVocalicsign-oriya",
"raAasign-oriya",
"raIisign-oriya",
"raIsign-oriya",
"rasign-oriya",
"rrVocalicsign-oriya",
"rraIsign-oriya",
"saKa-oriya",
"saKha-oriya",
"saPa-oriya",
"saPha-oriya",
"saTRa-oriya",
"saTa-oriya",
"saTha-oriya",
"sasign-oriya",
"shaCa-oriya",
"shaCha-oriya",
"shaRIi-oriya",
"shaRa-oriya",
"shasign-oriya",
"signoverline-oriya",
"ssaKa-oriya",
"ssaNna-oriya",
"ssaPa-oriya",
"ssaPha-oriya",
"ssaTta-oriya",
"ssaTtaRa-oriya",
"ssaTtaRaU-oriya",
"ssaTtha-oriya",
"ssasign-oriya",
"taIisign-oriya",
"taIsign-oriya",
"taKa-oriya",
"taKaRvocalicsign-oriya",
"taMa-oriya",
"taNa-oriya",
"taPa-oriya",
"taRa-oriya",
"taRasign-oriya",
"taRvocalicsign-oriya",
"taSa-oriya",
"taSaNa-oriya",
"taTaAasign-oriya",
"taUsign-oriya",
"taVa-oriya",
"taYya-oriya",
"tasign-oriya",
"tataa-oriya",
"thaIsign-oriya",
"thasign-oriya",
"ttTta-oriya",
"ttasign-oriya",
"tthasign-oriya",
"usign-oriya",
"uusign-oriya",
"vasign-oriya",
"yyaUsign-oriya",
"yyasign-oriya",
_or.CircleShape,
"baIisign-oriya.alt",
"bhasign-oriya.alt",
"dhaYya-oriya.alt",
kaSsa.alt,
"laIisign-oriya.alt",
"llaIisign-oriya.alt",
"masign-oriya.alt",
"naIisign-oriya.alt",
"paRasign-oriya.liga",
"thasign-oriya.alt",
"ttaTta-oriya.alt",
"usign-oriya.alt",
"usign-oriya.alt2",
"usign-oriya.alt3",
"usign-oriya.wide",
"uusign-oriya.alt",
"uusign-oriya.wide",
_kern,
_or_Tta_kaar,
_or_a_aa,
_or_ai_au_kaar,
_or_ai_kaar,
_or_dda_Handi,
_or_double_munduli,
_or_e,
_or_e_kaar,
_or_gha,
_or_ha_tick,
_or_halant_virama,
_or_i_kaar_loop,
_or_nna,
_or_o,
_or_sha,
_or_t_ma,
_or_ta_phala,
_or_tha,
_or_uu_kaar,
_or_wa,
"basign-oriya",
"yasign-oriya",
_comp.tail,
_or.2,
_or.GaiChanda,
_or.LanjaGol,
_or.Munduli,
_or.adha_munduli,
_or.angleBa,
_or.conso_ii_kaar,
_or.ekaar,
_or.ikaar,
_or.inktrap,
_or.ja_dhama,
_or.kha,
_or.raMunduli,
_or.roundEnd,
_or.ta_phala,
_or.vertHoriGuides
)