(
.notdef,
.null,
CR,
space,
uni0B55,
zerowidthnonjoiner,
zerowidthjoiner,
or_k_iikaar,
or_ch_iikaar,
or_j_iikaar,
or_t_iikaar,
or_d_iikaar,
or_n_iikaar,
or_b_iikaar,
or_r_iikaar,
or_h_iikaar,
or_bh_iikaar,
or_l_iikaar,
or_k_ukaar,
or_t_ukaar,
or_n_ukaar,
or_b_ukaar,
or_bh_ukaar,
or_h_ukaar,
or_k_rukaar,
or_t_rukaar,
or_d_rukaar,
or_b_rukaar,
or_bh_rukaar,
or_ikaar_below,
or_ka_phalaa,
or_kha_phalaa,
or_ga_phalaa,
or_gha_phalaa,
or_nga_phalaa,
or_ca_phalaa,
or_cha_phalaa,
or_ja_phalaa,
or_jha_phalaa,
or_tta_phalaa,
or_ttha_phalaa,
or_dda_phalaa,
or_ddha_phalaa,
or_nna_phalaa,
or_ta_phalaa,
or_tha_phalaa,
or_tha_phalaa.alt,
or_da_phalaa,
or_dha_phalaa,
or_na_phalaa,
or_pa_phalaa,
or_pha_phalaa,
or_ba_phalaa,
or_bha_phalaa,
or_bha_phalaa.alt,
or_ma_phalaa,
or_ma_phalaa.alt,
or_ya_phalaa,
or_ra_phalaa,
or_la_phalaa,
or_lla_phalaa,
or_va_phalaa,
or_sha_phalaa,
or_ssa_phalaa,
or_sa_phalaa,
or_ha_phalaa,
or_t_ra_phalaa,
or_yya_phalaa,
or_tt_tta.alt,
or_dh_yya.alt,
or_ll_ikaar.alt,
or_l_ikaar.alt,
or_n_iikaar.alt,
or_b_iikaar.alt,
or_ukaar.wide,
or_ukaar.alt,
or_uukaar.wide,
or_uukaar.alt,
or_reph.alt,
or_ukaar.alt2,
b_reph,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
comma,
period,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
hyphen,
slash,
colon,
semicolon,
less,
greater,
equal,
question,
at,
bracketleft,
bracketright,
backslash,
asciicircum,
underscore,
braceleft,
braceright,
bar,
asciitilde,
acute,
dieresis,
grave,
circumflex,
tilde,
cedilla,
macron,
breve,
dotaccent,
ring,
hungarumlaut,
caron,
ogonek,
questiondown,
exclamdown,
perthousand,
ellipsis,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
section,
plusminus,
quotesinglbase,
quotedblbase,
periodcentered,
degree,
registered,
copyright,
trademark,
endash,
emdash,
divide,
lessequal,
greaterequal,
A,
or_kh_r_ii,
or_p_ukaar,
or_k_ss_ii,
or_yy_ukaar,
or_iikaar_ref,
or_t_k_ru,
or_k_ss_i,
or_ss_tt_ra,
or_ss_tt_r_u,
"baanusvara-oriya",
"b_isign-oriya",
"c_aasign-oriya",
"c_isign-oriya",
"d_isign-oriya",
"h_isign-oriya",
"j_isign-oriya",
"j_ny_aasign-oriya",
"k_isign-oriya",
"k_t_isign-oriya",
"l_aasign-oriya",
"l_isign-oriya",
"n_d_isign-oriya",
"n_dh_isign-oriya",
"n_isign-oriya",
"n_t_isign-oriya",
"r_aasign-oriya",
"r_isign-oriya",
"t_isign-oriya",
"t_t_aasign-oriya",
"aa-oriya",
"i-oriya",
"ii-oriya",
"u-oriya",
"uu-oriya",
"rVocalic-oriya",
"rrVocalic-oriya",
"lVocalic-oriya",
"llVocalic-oriya",
"e-oriya",
"ai-oriya",
"o-oriya",
"au-oriya",
"ka-oriya",
"kha-oriya",
"ga-oriya",
"gha-oriya",
"nga-oriya",
"ca-oriya",
"cha-oriya",
"ja-oriya",
"jha-oriya",
"nya-oriya",
"tta-oriya",
"ttha-oriya",
"dda-oriya",
"ddha-oriya",
"nna-oriya",
"ta-oriya",
"tha-oriya",
"da-oriya",
"dha-oriya",
"na-oriya",
"pa-oriya",
"pha-oriya",
"ba-oriya",
"bha-oriya",
"ma-oriya",
"ya-oriya",
"ra-oriya",
"la-oriya",
"lla-oriya",
"va-oriya",
"sha-oriya",
"ssa-oriya",
"sa-oriya",
"ha-oriya",
"rra-oriya",
"rha-oriya",
"wa-oriya",
"yya-oriya",
"ma-oriya.alt",
"a-oriya",
"onequarter-oriya",
"onehalf-oriya",
"threequarters-oriya",
"onesixteenth-oriya",
"oneeighth-oriya",
"threesixteenths-oriya",
"zero-oriya",
"one-oriya",
"two-oriya",
"three-oriya",
"four-oriya",
"five-oriya",
"six-oriya",
"seven-oriya",
"eight-oriya",
"nine-oriya",
"danda-deva",
"dbldanda-deva",
"isshar-oriya",
dottedCircle,
"candraBindu-oriya",
"reph-oriya",
"iMatra-oriya",
"aiLength-oriya",
"uMatra-oriya",
"uuMatra-oriya",
"rVocalicMatra-oriya",
"rrVocalicMatra-oriya",
"halant-oriya",
"nukta-oriya",
"lVocalicMatra-oriya",
"llVocalicMatra-oriya",
"anusvara-oriya",
"visarga-oriya",
"avagraha-oriya",
"aaMatra-oriya",
"iiMatra-oriya",
"eMatra-oriya",
"aiMatra-oriya",
"oMatra-oriya",
"auMatra-oriya",
"auLength-oriya",
_corner.circle,
_corner.smallCircle,
_corner.square,
_corner.tailLeft,
_corner.inkSquareAngle,
_corner.left,
_corner.tailBottom,
_corner.tailRight,
"_or.ja-ya-curve",
"_or.la-puda",
"_or.tta-o-wa",
"_or_ai-au",
"bBa-oriya",
"bDa-oriya",
"bRa-oriya",
"bh_aasign-oriya",
"bh_isign-oriya",
"cCa-oriya",
"cCha-oriya",
"ch_aasign-oriya",
"ch_isign-oriya",
"dBha-oriya",
"dDa-oriya",
"dDha-oriya",
"dRa-oriya",
"dVa-oriya",
"dd_isign-oriya",
"dhYya-oriya",
"dh_isign-oriya",
"hLa-oriya",
"hMa-oriya",
"hNa-oriya",
"hVa-oriya",
"jJa-oriya",
"jNya-oriya",
"kKa-oriya",
"kRa-oriya",
"kSsa-oriya",
"kTa-oriya",
"kTta-oriya",
"lLa-oriya",
"lYya-oriya",
"llPa-oriya",
"ll_isign-oriya",
"mBha-oriya",
"mMa-oriya",
"mPa-oriya",
"mPha-oriya",
"mVa-oriya",
"nDa-oriya",
"nDha-oriya",
"nMa-oriya",
"nNa-oriya",
"nTRa-oriya",
"nTa-oriya",
"nTha-oriya",
"ngGa-oriya",
"ngGha-oriya",
"ngKa-oriya",
"ngKha-oriya",
"nnDda-oriya",
"nnDdha-oriya",
"nnNna-oriya",
"nnTta-oriya",
"nnTtha-oriya",
"nyCa-oriya",
"nyCha-oriya",
"nyJa-oriya",
"nyJha-oriya",
"ny_c_isign-oriya",
or_b_yya,
or_d_da_reph,
or_d_dha_reph,
or_nn_nna_reph,
or_sh_ra,
or_t_s_na,
"pTa-oriya",
"rr_isign-oriya",
"sKa-oriya",
"sKha-oriya",
"sPa-oriya",
"sPha-oriya",
"sTRa-oriya",
"sTa-oriya",
"sTha-oriya",
"shCa-oriya",
"shCha-oriya",
"shRIi-oriya",
"ssKa-oriya",
"ssNna-oriya",
"ssPa-oriya",
"ssPha-oriya",
"ssTta-oriya",
"ssTtha-oriya",
"tKa-oriya",
"tMa-oriya",
"tNa-oriya",
"tPa-oriya",
"tRa-oriya",
"tSa-oriya",
"tTa-oriya",
"tVa-oriya",
"tYya-oriya",
test,
"th_isign-oriya",
"ttTta-oriya",
_or.CircleShape,
or_ai.alt,
or_k_ssa.alt,
or_pa_or_ra_phalaa.liga,
_kern,
_or_Tta_kaar,
_or_a_aa,
_or_ai_au_kaar,
_or_ai_kaar,
_or_dda_Handi,
_or_double_munduli,
_or_e,
_or_e_kaar,
_or_gha,
_or_ha_tick,
_or_halant_virama,
_or_i_kaar_loop,
_or_nna,
_or_o,
_or_sha,
_or_t_ma,
_or_ta_phala,
_or_tha,
_or_uu_kaar,
_or_wa,
_comp.tail,
_or.2,
_or.GaiChanda,
_or.LanjaGol,
_or.Munduli,
_or.adha_munduli,
_or.angleBa,
_or.candrabindu,
_or.conso_ii_kaar,
_or.ekaar,
_or.ikaar,
_or.inktrap,
_or.ja_dhama,
_or.kha,
_or.raMunduli,
_or.roundEnd,
_or.ta_phala,
_or.u_kaar,
_or.vertHoriGuides
)