(
.notdef,
.null,
CR,
space,
dv_danda,
dv_double_danda,
or_candrabindu,
or_anusvara,
or_visarga,
or_a,
or_aa,
or_i,
or_ii,
or_u,
or_uu,
or_ru,
or_lu,
or_e,
or_ai,
or_o,
or_au,
or_ka,
or_kha,
or_ga,
or_gha,
or_nga,
or_ca,
or_cha,
or_ja,
or_jha,
or_nya,
or_tta,
or_ttha,
or_dda,
or_ddha,
or_nna,
or_ta,
or_tha,
or_da,
or_dha,
or_na,
or_pa,
or_pha,
or_ba,
or_bha,
or_ma,
or_ma.alt,
or_ya,
or_ra,
or_la,
or_lla,
or_va,
or_sha,
or_ssa,
or_sa,
or_ha,
or_nukta,
or_avagraha,
or_aakaar,
or_ikaar,
or_iikaar,
or_ukaar,
or_uukaar,
or_rukaar,
or_rrukaar,
or_ekaar,
or_aikaar,
or_okaar,
or_aukaar,
or_halant,
uni0B55,
or_ailengthmk,
or_aulengthmk,
or_rra,
or_rha,
or_yya,
or_rru,
or_llu,
or_lukaar,
or_llukaar,
or_zero,
or_one,
or_two,
or_three,
or_four,
or_five,
or_six,
or_seven,
or_eight,
or_nine,
or_isshar,
or_wa,
or_onequarter,
or_onehalf,
or_threequarters,
or_onesixteenth,
or_oneeighth,
or_threesixteenths,
zerowidthnonjoiner,
zerowidthjoiner,
dottedcircle,
or_k_ka,
or_k_tta,
or_k_ta,
or_k_ssa,
or_ng_ka,
or_ng_kha,
or_ng_ga,
or_ng_gha,
or_c_ca,
or_c_cha,
or_j_ja,
or_j_nya,
or_ny_ca,
or_ny_cha,
or_ny_ja,
or_ny_jha,
or_tt_tta,
or_nn_tta,
or_nn_ttha,
or_nn_dda,
or_nn_ddha,
or_nn_nna,
or_t_ka,
or_t_ta,
or_t_na,
or_t_pa,
or_t_ma,
or_t_sa,
or_t_yya,
or_t_va,
or_d_da,
or_d_dha,
or_d_bha,
or_d_va,
or_dh_yya,
or_n_ta,
or_n_t_ra,
or_n_tha,
or_n_da,
or_n_dha,
or_n_na,
or_n_ma,
or_p_ta,
or_b_anusvara,
or_b_da,
or_b_ba,
or_m_pa,
or_m_pha,
or_m_va,
or_m_bha,
or_m_ma,
or_ll_pa,
or_sh_ca,
or_sh_cha,
or_ss_ka,
or_ss_tta,
or_ss_ttha,
or_ss_nna,
or_ss_pa,
or_ss_pha,
or_s_ka,
or_s_kha,
or_s_ta,
or_s_t_ra,
or_s_tha,
or_s_pa,
or_s_pha,
or_h_na,
or_h_ma,
or_h_la,
or_h_va,
or_l_yya,
or_l_la,
or_k_ra,
or_t_ra,
or_d_ra,
or_b_ra,
or_sh_r_ii,
or_c_aakaar,
or_ch_aakaar,
or_bh_aakaar,
or_r_aakaar,
or_l_aakaar,
or_j_ny_aakaar,
or_t_t_aakaar,
or_k_ikaar,
or_c_ikaar,
or_ch_ikaar,
or_j_ikaar,
or_dd_ikaar,
or_rr_ikaar,
or_t_ikaar,
or_d_ikaar,
or_n_ikaar,
or_b_ikaar,
or_bh_ikaar,
or_r_ikaar,
or_ll_ikaar,
or_h_ikaar,
or_l_ikaar,
or_k_t_ikaar,
or_n_t_ikaar,
or_n_d_ikaar,
or_n_dh_ikaar,
or_th_ikaar,
or_dh_ikaar,
or_ny_c_ikaar,
or_k_iikaar,
or_ch_iikaar,
or_j_iikaar,
or_t_iikaar,
or_d_iikaar,
or_n_iikaar,
or_b_iikaar,
or_r_iikaar,
or_h_iikaar,
or_bh_iikaar,
or_l_iikaar,
or_k_ukaar,
or_t_ukaar,
or_n_ukaar,
or_b_ukaar,
or_bh_ukaar,
or_h_ukaar,
or_k_rukaar,
or_t_rukaar,
or_d_rukaar,
or_b_rukaar,
or_bh_rukaar,
or_ikaar_below,
or_ka_phalaa,
or_kha_phalaa,
or_ga_phalaa,
or_gha_phalaa,
or_nga_phalaa,
or_ca_phalaa,
or_cha_phalaa,
or_ja_phalaa,
or_jha_phalaa,
or_tta_phalaa,
or_ttha_phalaa,
or_dda_phalaa,
or_ddha_phalaa,
or_nna_phalaa,
or_ta_phalaa,
or_tha_phalaa,
or_tha_phalaa.alt,
or_da_phalaa,
or_dha_phalaa,
or_na_phalaa,
or_pa_phalaa,
or_pha_phalaa,
or_ba_phalaa,
or_bha_phalaa,
or_bha_phalaa.alt,
or_ma_phalaa,
or_ma_phalaa.alt,
or_ya_phalaa,
or_reph,
or_ra_phalaa,
or_la_phalaa,
or_lla_phalaa,
or_va_phalaa,
or_sha_phalaa,
or_ssa_phalaa,
or_sa_phalaa,
or_ha_phalaa,
or_t_ra_phalaa,
or_yya_phalaa,
or_tt_tta.alt,
or_dh_yya.alt,
or_ll_ikaar.alt,
or_l_ikaar.alt,
or_n_iikaar.alt,
or_b_iikaar.alt,
or_ukaar.wide,
or_ukaar.alt,
or_uukaar.wide,
or_uukaar.alt,
or_reph.alt,
or_ukaar.alt2,
b_reph,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
comma,
period,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
hyphen,
slash,
colon,
semicolon,
less,
greater,
equal,
question,
at,
bracketleft,
bracketright,
backslash,
asciicircum,
underscore,
braceleft,
braceright,
bar,
asciitilde,
acute,
dieresis,
grave,
circumflex,
tilde,
cedilla,
macron,
breve,
dotaccent,
ring,
hungarumlaut,
caron,
ogonek,
questiondown,
exclamdown,
perthousand,
ellipsis,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
section,
plusminus,
quotesinglbase,
quotedblbase,
periodcentered,
degree,
registered,
copyright,
trademark,
endash,
emdash,
divide,
lessequal,
greaterequal,
A,
or_kh_r_ii,
or_p_ukaar,
or_k_ss_ii,
or_yy_ukaar,
or_iikaar_ref,
or_t_k_ru,
or_k_ss_i,
or_ss_tt_ra,
or_ss_tt_r_u,
_corner.circle,
_corner.smallCircle,
_corner.square,
_corner.tailLeft,
_corner.inkSquareAngle,
_corner.left,
_corner.tailBottom,
_corner.tailRight,
"_or_ai-au",
"_or.ja-ya-curve",
"_or.la-puda",
"_or.tta-o-wa",
or_b_yya,
or_d_da_reph,
or_d_dha_reph,
or_nn_nna_reph,
or_t_s_na,
test,
_or.CircleShape,
or_ai.alt,
or_k_ssa.alt,
or_pa_or_ra_phalaa.liga,
_kern,
_or_Tta_kaar,
_or_a_aa,
_or_ai_au_kaar,
_or_ai_kaar,
_or_dda_Handi,
_or_double_munduli,
_or_e,
_or_e_kaar,
_or_gha,
_or_ha_tick,
_or_halant_virama,
_or_i_kaar_loop,
_or_nna,
_or_o,
_or_sha,
_or_t_ma,
_or_ta_phala,
_or_tha,
_or_uu_kaar,
_or_wa,
_comp.tail,
_or.2,
_or.GaiChanda,
_or.LanjaGol,
_or.Munduli,
_or.adha_munduli,
_or.angleBa,
_or.candrabindu,
_or.conso_ii_kaar,
_or.ekaar,
_or.ikaar,
_or.inktrap,
_or.ja_dhama,
_or.kha,
_or.raMunduli,
_or.roundEnd,
_or.ta_phala,
_or.u_kaar,
_or.vertHoriGuides
)